{% extends 'backend/base.html'%} {% block content %} {% load static %}
<div class="p-3 text-center">
  <form action="" method="post">
    {% csrf_token %}
    <div class="input-group flex-nowrap my-2">
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        name="username"
      />
    </div>
    <div class="input-group flex-nowrap my-2">
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        name="password"
      />
      <button class="input-group-text password-button" onclick="showPassword(event)">
         <i class="bi bi-eye-slash"></i>
      </button>
    </div>

    <div class="my-4">
      <a href="/auths/reset-password">Forgot your password</a>
    </div>
    <input type="submit" class="btn btn-primary" value="Login" />
  </form>
</div>

<script src="{% static 'js/showPassword.js' %}"></script>

{% endblock %}
