* {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0;
  font-size: 16px;
}

.btn-primary {
  background-color: #00729a !important;
  border-color: transparent !important;
}

.btn-primary:hover {
  background-color: #2EA3F2 !important;
}

.close {
  border: none;
  background-color: transparent;
}

.close span {
  font-size: 21px;
}

.nav-link {
  color: #282828 !important;
  font-weight: 600 !important;
  border: none;
  background-color: transparent;
}

.nav-link.active {
  color: #00729a !important;
}

.nav-link.active:hover {
  color: #2EA3F2 !important;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.6) !important;
}

.password-button:hover {
  background-color: #d9d9da !important;
}

.logout-desktop {
  display: none !important;
}

.logout-mobile {
  display: block !important;
}

@media screen and (min-width: 990px) {
  .logout-desktop {
    display: block !important;
  }
  .logout-mobile {
    display: none !important;
  }
}
