{% load static %}
{% block history %}
<div class="historyContainer pb-3">
  <h4 class="text-center mb-2 p-3">Total worked hours: {{ workedHours }}</h4>

  <div class="nav justify-content-center">

    <nav aria-label="Week/Month navigation" class="border rounded mb-4" style="width: fit-content;">
      <div class="topSection border-bottom justify-content-center">
        <select id="selectYear" class="border-0 py-1" style="width: 100%; text-align: center">
          {% for year in years %}
          <option value="{{year}}" label='{{year}}' 
            {% if year == selectedYear|add:0 %} selected {% endif %}
          >
          {% endfor %}
        </select>
        <hr style="margin: 0">

        <select id="selectMonth" class="border-0 py-1" style="width: 100%; text-align: center">
          {% for key, value in months.items %}
          <option value="{{key}}" label="{{value}}"  
            {% if key == selectedMonth|add:0 %} selected {% endif %}
          ></option>
          {% endfor %}
        </select>
        <hr style="margin: 0">

        <button onclick="handleFilter('{{-1}}')" 
          class="border-0 py-1" style="width: 100%; text-align: center"
        >
          Filter
        </button>
        <hr style="margin: 0">

        <select id="selectWeek" 
          onchange="handleFilter(event.srcElement.value)" 
          class="border-0 py-1" style="padding: 0 0.8em; width: 100%;"
        >
          <option value="-1" label="Full Month" 
            {% if -1 == selectedWeek|add:0 %} selected {% endif %}
          ></option>
          {% for key, value in options.items %}
          <option value="{{key}}" label="{{value}}"  
            {% if key == selectedWeek|add:0 %} selected {% endif %}
          ></option>
          {% endfor %}
        </select>
      </div>
    </nav>
  </div>

  <table class="table table-striped">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Action</th>
      <th scope="col">Break Duration</th>
      <th scope="col">Status</th>
      {% if not isHistory %}
      <th></th>
      {% endif %}
    </tr>

    {% if records %}
    {% for record in records %}
    <tr>
        <form action="" method="post">
          {% csrf_token %}
          <td>
            {% if isHistory %}
            {{ record.date|date:'d/m' }}
            {% else %}
            <input type="date" class="form-control" name="date" value="{{ record.date|date:'Y-m-d' }}" />
            {% endif %}
          </td>

          <td>
            {% if record.off_day %}

            {% elif isHistory %}
            {{ record.date|date:'H:i' }}
            {% else %}
            <input type="time" class="form-control" name="time" value="{{ record.date|date:'H:i' }}" />
            {% endif %}
          </td>

          <td>
            {% if record.off_day %}

            {% elif isHistory %}
            {{ record.action }}
            {% else %}
            <select name="action" id="action{{record.id}}" class="action form-select">
              <option value="Clock-in" {% if record.action == "Clock-in" %} selected {% endif %}>Clock-in</option>
              <option value="Clock-out" {% if record.action == "Clock-out" %} selected {% endif %}>Clock-out</option>
            </select>
            {% endif %}
          </td>

          <td style="vertical-align: middle;">
            {% if record.off_day %}
            <strong> Off Day </strong>
            {% elif isHistory %}
            {{ record.break_duration }}
            {% else %}
              <input type="text" class="form-control" name="breakDuration" value="{{ record.break_duration }}"
                     style="max-width: 3em" {% if record.action == "Clock-in" %} disabled {% endif %} />
            {% endif %}
          </td>

          <td>
            {% if record.off_day %}
            
            {% elif isHistory %}
              {{ record.status }}
            {% else %}
            <select name="status" id="status{{record.id}}" class="status form-select">
              <option value="Approved" 
                {% if record.status == "Approved" %} selected {% endif %}
              >
                Approved
              </option>

              <option value="Wating Approval" 
                {% if record.status == "Wating Approval" %} selected {% endif %}
              >
                Wating Approval
              </option>
            </select>
            <input type="text" name="id" value="{{record.id}}" hidden>
            {% endif %}
          </td>
          
          {% if not isHistory %}
          <td>
            <input class="btn btn-primary" type="submit" value="Save" />
            {% if record.off_day %}
            <button
              type="button"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#confirmModal"
              data-toggle="modal"
              data-target="#confirmModal"
              onclick="showDeleteConfirmModal('record', '{{ record.date|date:'d/m' }} - Off day', {{ record.id }})"
            >
              <i class="bi bi-trash"></i>
            </button>
            {% else %}
            <button
              type="button"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#confirmModal"
              data-toggle="modal"
              data-target="#confirmModal"
              onclick="showDeleteConfirmModal('record', '{{ record.date|date:'d/m' }} - {{ record.date|date:'H:i' }} - {{ record.action }}', {{ record.id }})"
            >
              <i class="bi bi-trash"></i>
            </button>
            {% endif %}
            {% if not record.remarks|length == 0 %}
            <button type="button" class="btn btn-primary" onclick="showRemarks('{{record.id}}')">
              <i class="bi bi-chat-left-text"></i>
            </button>
            {% endif %}
          </td>
          {% endif %}
        </form>
      </tr>
      {% if not isHistory %}
      <tr hidden id="remarks{{record.id}}">
        <td colspan="100%">
          <textarea style="width: 100%; resize: none;" disabled>{{ record.remarks }}</textarea>
        </td>
      </tr>
{% endif %}
      {% endfor %}
    {% else %}
    <tr>
      <td colspan="100%" class="text-center">No records found</td>
    </tr>
    {% endif %}

  </table>
</div>

<script src="{% static 'js/historyTable.js' %}"></script>
{% endblock history %}