{% extends 'backend/base.html' %} {% load static %} {% block content %}
<div class="clockContainer w-100 mb-3 text-center">
  <h2 class="clock fs-1" id="clock">00:00:00</h2>
  <form action="" method="post">
    {% csrf_token %}

    <div class="input-group flex-nowrap my-2 justify-content-center">
      <div class="input-group-text">
        <input type="submit" name="action" value="Clock-in" class="btn" />
      </div>
      <div class="input-group-text">
        <input
          type="button"
          name="action"
          value="Clock-out"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#confirmModal"
          data-toggle="modal"
          data-target="#confirmModal"
          onclick="showRegisterConfirmModal('register')"
        />
      </div>
    </div>
  </form>
</div>

{% include './historyTable.html' %}

<script src="{% static 'js/history.js' %}"></script>
{% endblock content %}
