{% load static %}
{% block history %}
<div class="historyContainer pb-3">
  <h4 class="text-center mb-2 p-3">Total worked hours: {{ workedHours }}</h4>

  <div class="input-group flex-nowrap my-2 justify-content-center">
    <div class="input-group-text btn btn-outline-secondary">
      <a class="text-decoration-none text-muted" href="?month=false&year={{year}}&number={{number}}">Week</a>
    </div>
    <div class="input-group-text btn btn-outline-secondary">
      <a class="text-decoration-none text-muted" href="?month=true&year={{year}}&number={{number}}">Month</a>
    </div>
  </div>

  <div class="nav justify-content-center">

    <nav aria-label="Week/Month navigation" class="border rounded mb-4" style="width: fit-content;">
      <div class="topSection border-bottom justify-content-center">
        <select class="border-0 py-1" style="width: 100%; text-align: center" onchange="onChangeSelect('{{month}}', event.srcElement.value, '{{number}}')">
          {% for optionYear in years %}
          <option value="{{optionYear}}" {% if optionYear == year|add:0 %} selected {% endif %}>{{optionYear}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="bottomSection justify-content-center">
        <ul class="d-flex m-0 p-0" style="list-style: none;">
          <li class="my-1">
            <a class="mx-2 py-1 text-decoration-none text-muted" href="?month={{month}}&year={{year}}&number={{number|add:'-1'}}" {% if number|add:'-1' == 0 %}
            style="pointer-events: none;" {% endif %}>
              {% if number|add:'-1' == 0 %}
              <i class="bi bi-caret-left"></i>
              {% else %}
              <i class="bi bi-caret-left-fill"></i>
              {% endif %}
            </a>
          </li>

          <li class="border-start border-end">
            <select class="py-1 px-1 border-0" onchange="onChangeSelect('{{month}}', '{{year}}', event.srcElement.value)">
              {% for optionNumber in range %}
              <option value="{{optionNumber}}" {% if optionNumber == number|add:0 %} selected {% endif %}>{{optionNumber}}</option>
              {% endfor %}
            </select>
          </li>

          <li class="my-1">
            <a class="mx-2 py-1 text-decoration-none text-muted" href="?month={{month}}&year={{year}}&number={{number|add:1}}"
            {% if month == 'true' and number|add:1 == 13 or month == 'false' and number|add:1 == 53 %}
            style="pointer-events: none;" {% endif %}>
            {% if month == 'true' and number|add:1 == 13 or month == 'false' and number|add:1 == 53 %}
            <i class="bi bi-caret-right"></i>
            {% else %}
            <i class="bi bi-caret-right-fill"></i>
            {% endif %}
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <table class="table table-striped">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      {% if not isHistory %}
      <th scope="col"></th>
      {% endif %}
      <th scope="col">Action</th>
      <th scope="col">Break Duration</th>
      <th scope="col">Status</th>
      {% if not isHistory %}
      <th></th>
      {% endif %}
    </tr>

    {% if records %}
    {% for record in records %}
    <tr>
        <form action="" method="post">
          {% csrf_token %}
          <td>
            {% if isHistory %}
            {{ record.date|date:'d/m' }}
            {% else %}
            <input type="date" class="form-control" name="date" value="{{ record.date|date:'Y-m-d' }}" />
            {% endif %}
          </td>

          <td>
            {% if isHistory %}
            {{ record.date|time }}
            {% else %}
            <input type="time" class="form-control" name="time" min="01:00" max="12:59" value="{{ record.date|date:'h:i' }}" />
            {% endif %}
          </td>

          {% if not isHistory %}
          <td>
            <select name="timePeriod" class="form-select">
              <option value="AM" {% if record.date|date:'A' == "AM" %} selected {% endif %}>AM</option>
              <option value="PM" {% if record.date|date:'A' == "PM" %} selected {% endif %}>PM</option>
            </select>
          </td>
          {% endif %}

          <td>
            {% if isHistory %}
            {{ record.action }}
            {% else %}
            <select name="action" id="action{{record.id}}" class="action form-select">
              <option value="Clock-in" {% if record.action == "Clock-in" %} selected {% endif %}>Clock-in</option>
              <option value="Clock-out" {% if record.action == "Clock-out" %} selected {% endif %}>Clock-out</option>
            </select>
            {% endif %}
          </td>

          <td>
            {% if isHistory %}
            {{ record.break_duration }}
            {% else %}
              <input type="text" class="form-control" name="breakDuration" value="{{ record.break_duration }}"
                     style="max-width: 3em" {% if record.action == "Clock-in" %} disabled {% endif %} />
            {% endif %}
          </td>

          <td>
            {% if isHistory %}
              {{ record.status }}
            {% else %}
            <select name="status" id="status{{record.id}}" class="status form-select">
              <option value="Approved" {% if record.status == "Approved" %} selected {% endif %}>Approved</option>
              <option value="Wating Approval" {% if record.status == "Wating Approval" %} selected {% endif %}>Wating
                Approval</option>
              </option>
            </select>
            <input type="text" name="id" value="{{record.id}}" hidden>
            {% endif %}
          </td>
          {% if not isHistory %}
          <td>
            <input class="btn btn-primary" type="submit" value="Save" />
            <button
              type="button"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#confirmModal"
              data-toggle="modal"
              data-target="#confirmModal"
              onclick="showConfirmModal('record', '{{ record.date|date:'d/m' }} - {{ record.date|time }} - {{ record.action }}', {{ record.id }})"
            >
          <i class="bi bi-trash"></i>
        </button
          </td>
          {% endif %}
        </form>
      </tr>
      {% endfor %}
    {% else %}
    <tr>
      <td colspan="100%" class="text-center">No records found</td>
    </tr>
    {% endif %}

  </table>
</div>

<script src="{% static 'js/historyTable.js' %}"></script>
{% endblock history %}