{% extends 'backend/base.html' %} {% load static %} {% block content%}
<div class="my-2 text-center">
  <h2 class="mb-3 fs-1">Include record</h2>
  <form action="" method="post">
    {% csrf_token %}
    <div class="input-group flex-nowrap my-2">
      <label class="input-group-text" for="date">Date</label>
      <input type="date" class="form-control" name="date" />
    </div>

    <div class="input-group flex-nowrap my-2">
      <input type="time" class="form-control" name="time" />
      <label class="input-group-text" for="time">Time</label>
    </div>

    <div class="input-group flex-nowrap my-2">
      <label class="input-group-text" for="actionSelect">Action</label>
      <select
        name="action"
        id="actionSelect"
        class="action form-select"
        onblur="hideBreakDuration()"
      >
        <option value="Clock-in" selected>Clock-in</option>
        <option value="Clock-out">Clock-out</option>
      </select>
    </div>

    <div id="breakDuration" class="input-group flex-nowrap my-2" hidden>
      <input type="number" min="0" class="form-control" name="breakDuration" />
      <label class="input-group-text">Break (in minutes)</label>
    </div>

    <div id="remark" class="input-group flex-nowrap my-2">
      <textarea class="form-control" name="remarks"></textarea>
      <label class="input-group-text">Remarks</label>
    </div>

    <input
      type="submit"
      class="btn btn-primary"
      value="Include Record"
      required
    />
  </form>
</div>
<script src="{% static 'js/include.js' %}"></script>
{% endblock %}
