{% extends 'backend/base.html' %}

{% block content%}
<div class="my-2 text-center">
  <h2>Include Clock-in</h2>
  <form action="" method="post">
    {% csrf_token %}
    <div class="input-group flex-nowrap my-2">
      <label class="input-group-text" for="time">Time</label>
      <input type="time" class="form-control" name="time" />
    </div>
    <div class="input-group flex-nowrap my-2">
      <input type="date" class="form-control" name="date" />
      <label class="input-group-text" for="date">Date</label>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="action">Action</label>
      <select name="action" id="action{{record.id}}" class="action form-select">
        <option value="Clock-in" {% if record.action == "Clock-in" %} selected {% endif %}>Clock-in</option>
        <option value="Clock-out" {% if record.action == "Clock-out" %} selected {% endif %}>Clock-out</option>
        </option>
      </select>
    </div>
    <input type="submit" value="Submit" required>
  </form>
</div>
{% endblock %}
