{% extends 'backend/base.html' %} {% load static %} {% block content%}
<div class="my-2 text-center">
  <h2 class="mb-3 fs-1">Include record</h2>
  <form action="" method="post">
    {% csrf_token %}
    <div class="input-group flex-nowrap my-2">
      <label class="input-group-text" for="date">Date</label>
      <input type="date" class="form-control" name="date" />
    </div>
    
    <div class="input-group flex-nowrap my-2">
      <input type="time" class="form-control" name="clockInTime" />
      <label class="input-group-text" for="clockInTime">Clock-in Time*</label>
    </div>

    <div class="input-group flex-nowrap my-2">
      <label class="input-group-text" for="clockOutTime">Clock-out Time*</label>
      <input type="time" class="form-control" name="clockOutTime" />
    </div>

    <div id="breakDuration" class="input-group flex-nowrap my-2">
      <input type="number" min="0" class="form-control" name="breakDuration" />
      <label class="input-group-text">Break (in minutes)**</label>
    </div>

    <div id="remark" class="input-group flex-nowrap my-2">
      <textarea class="form-control" name="remarks"></textarea>
      <label class="input-group-text">Remarks</label>
    </div>

    <p>
      *It is not necessary to fill both times, just the ones you did not register
      <br>
      **Break time will only be registered when clock-out time is filled
    </p>

    <input
      type="submit"
      class="btn btn-primary"
      value="Include Record"
      required
    />
  </form>
</div>
<script src="{% static 'js/include.js' %}"></script>
{% endblock %}
