{% load static %}

<div
  class="modal fade"
  id="confirmModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalTitle"></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div id="delete-modal-content" hidden>
          <div id="modal-content">
            <p>
              Are you sure you want to delete the
              <span id="deletedDataType"></span>
              :
            </p>
            <p class="text-center"><strong id="deletedDataTitle"></strong></p>
          </div>

          <div class="modal-buttons" style="float: right">
            <button
              type="button"
              class="btn btn-danger"
              onclick="handleDelete()"
            >
              Delete
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>

        <div id="register-modal-content" hidden>
          <div id="modal-content">
            <div
              class="input-group mb-3"
              style="max-width: 15em; margin: 0 auto"
            >
              <span class="input-group-text">Break (in minutes)</span>
              <input
                type="number"
                id="breakDuration"
                min="0"
                class="form-control"
                value="0"
              />
            </div>
          </div>

          <div class="modal-buttons" style="float: right">
            <button
              type="button"
              class="btn btn-primary"
              onclick="handleRegister()"
            >
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/modalConfirm.js' %}"></script>
