{% extends 'backend/base.html' %} {% block content%} {% load static %}

<div class="my-2 text-center">
  {% csrf_token %}
  <h2 class="mb-3 fs-1">Volunteers</h2>
  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th></th>
    </tr>

    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>
        <a
          class="editIcon btn btn-primary"
          href="{% url 'backend:user' user.id %}?month=false&year={% now 'Y' %}&number={% now 'W' %}"
        >
          <i class="bi bi-pen"></i>
        </a>

        <button
          type="button"
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#confirmModal"
          data-toggle="modal"
          data-target="#confirmModal"
          onclick="showDeleteConfirmModal('user', '{{ user.first_name }} {{ user.last_name }}', {{ user.id }})"
        >
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<script src="{% static 'js/userList.js' %}"></script>

{% endblock %}
