{% extends 'backend/base.html' %}

{% block content%}
{% load static %}

<div class="userContainer text-center">
  <h2>Volunteer Profile</h2>
  <form action="" method="post">
    {% csrf_token %}

    <p>
      <label for="username">Username:</label>
      <div class="input-group">
        <input type="text" class="form-control" name="username" value="{{ listed_user.username }}">
        <div class="input-group-append">
          <button class="editIcon btn btn-outline-secondary" type="button" onclick="editInput('username')">
            <i class="bi bi-pen"></i>
          </button>
        </div>
      </div>
    </p>

    <p>
      <label for="firstName">First Name:</label>
      <div class="input-group">
        <input type="text" class="form-control" name="username" value="{{ listed_user.first_name }}">
        <div class="input-group-append">
          <button class="editIcon btn btn-outline-secondary" type="button" onclick="editInput('firstName')">
            <i class="bi bi-pen"></i>
          </button>
        </div>
      </div>
    </p>

    <p>
      <label for="lastName">Last Name:</label>
      <div class="input-group">
        <input type="text" class="form-control" name="username" value="{{ listed_user.last_name }}">
        <div class="input-group-append">
          <button class="editIcon btn btn-outline-secondary" type="button" onclick="editInput('lastName')">
            <i class="bi bi-pen"></i>
          </button>
        </div>
      </div>
    </p>

    <p>
      <label for="email">Email:</label>
      <div class="input-group">
        <input type="email" class="form-control" name="username" value="{{ listed_user.email }}">
        <div class="input-group-append">
          <button class="editIcon btn btn-outline-secondary" type="button" onclick="editInput('email')">
            <i class="bi bi-pen"></i>
          </button>
        </div>
      </div>
    </p>

    <p>
      <div class="input-group flex-nowrap my-2 mb-4 justify-content-center">
        <span class="input-group-text" for="role">Is Manager:</span>
        <div class="input-group-text">
          <input type="checkbox" id="userRole" name="role" {% if listed_user.is_staff %} checked {% endif %}>
        </div>
        <button class="editIcon btn btn-outline-secondary" type="button" onclick="editInput('userRole')">
          <i class="bi bi-pen"></i>
        </button>
      </div>
    </p>

    <input type="submit" value="Submit">
  </form>
</div>
<div class="historyContainer text-center mu-4 py-3">
  <h3>History</h3>
  <h4>Total worked hours: {{ workedHours }}</h4>
  <table class="table">
    <tr>
      <th>Time</th>
      <th>Date</th>
      <th>Action</th>
      <th>Status</th>
      <th></th>
    </tr>
    {% if records %}
      {% for record in records %}
      <tr>
        <form action="" method="post">
          {% csrf_token %}

          <td>{{ record.date|time }}</td>
          <td>{{ record.date|date:'d/m' }}</td>
          <td>
            <select name="action" id="action{{record.id}}" class="action">
              <option value="Clock-in" {% if record.action == "Clock-in" %} selected {% endif %}>Clock-in</option>
              <option value="Clock-out" {% if record.action == "Clock-out" %} selected {% endif %}>Clock-out</option>
              </option>
            </select>
          </td>
          <td>
            <select name="status" id="status{{record.id}}" class="status">
              <option value="Approved" {% if record.status == "Approved" %} selected {% endif %}>Approved</option>
              <option value="Wating Approval" {% if record.status == "Wating Approval" %} selected {% endif %}>Wating
                Approval</option>
              </option>
            </select>
            <input type="text" name="id" value="{{record.id}}" hidden>
          </td>
          <td>
            <button class="editIcon" type="button" onclick="editInput('record{{record.id}}')">
              <i class="bi bi-pen"></i>
            </button>
            <button class="deleteIcon" type="button" onclick="deleteRecord('record{{record.id}}')">
              <i class="bi bi-trash"></i>
            </button>
            <input class="saveIcon" type="submit">
            <i class="bi bi-floppy"></i>
            </input>
          </td>
        </form>
      </tr>
      {% endfor %}
    {% else %}
    <tr>
      <td>No records found</td>
    </tr>
    {% endif %}
  </table>
</div>
<script src="{% static 'js/user.js' %}"></script>
{% endblock %}