{% extends 'backend/base.html' %}

{% block content%}
<div class="my-3 text-center">
  <h2 class="mb-3">Register Volunteer</h2>
  <form action="" method="post">
    {% csrf_token %}
    <div class="input-group flex-nowrap my-2">
      <input type="text" class="form-control" placeholder="Username" name="username" />
    </div>
    <div class="input-group flex-nowrap my-2">
      <input type="text" class="form-control" placeholder="First Name" name="firstName" />
    </div>
    <div class="input-group flex-nowrap my-2">
      <input type="text" class="form-control" placeholder="Last Name" name="lastName" />
    </div>
    <div class="input-group flex-nowrap my-2">
      <input type="email" class="form-control" placeholder="Email" name="email" />
    </div>
    <div class="input-group flex-nowrap my-2 mb-4 justify-content-center">
      <span class="input-group-text" for="role">Is Manager:</span>
      <div class="input-group-text">
        <input type="checkbox" id="userRole" name="role">
      </div>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}